
<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Les différents potins</h1>
    <p>Voici la page du potin n° <%= params['id'] %></p>
    <p>Son auteur : <%= potin[1] %> </p>
    <p>Le contenue du potin :  <%= potin[1] %> </p>
    <a href="/">Revenir à la page des potins</a>
  </body>
</html>

<style>
			body{
				color: black;
        background-color : #2c3e50;
        line
        
			}
		</style>